body {
  font-family: 'Quicksand', sans-serif;
  background-color: #1D1B27;
  color: white;
  padding-top: 4rem;
}

.navbar {
  background-color: #2A2438;
  /* position: fixed; */
}

.mobile-menu {
  background-color: #2A2438;

}

.hover\:text-bright-purple:hover {
    color: #E0AAFF;
  }

#menu {
  color: #9c9c9c;
}

.pfp-image {
  width: 24rem;
  animation: welcome-animation-pfp 0.75s ease-out;
}

.short-self-desc {
  animation: welcome-animation-short-desc 0.75s ease-out;
}

@keyframes welcome-animation-pfp {
  from {
    opacity: 0;
    transform: translateX(-200px)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes welcome-animation-short-desc {
  from {
    opacity: 0;
    transform: translateX(200px)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

.profile {
  text-align: center;
}

.profile h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.profile p {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.about {
  background-color: #2C2C2E;
  /* height: 33rem; */
}

.navbar {
  background-color: #2A2438;
  position: fixed; /* Menjadikan navbar tetap di atas */
  top: 0; /* Menempel di bagian atas layar */
  left: 0; /* Menempel di sisi kiri layar */
  width: 100%; /* Lebar navbar mengisi seluruh lebar layar */
  z-index: 10; /* Memberikan prioritas lebih tinggi untuk navbar */
  padding: 1rem; /* Memberikan padding untuk ruang di sekitar navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambah bayangan */
}


/* .skill-col {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem; 
  justify-content: center;
  align-items: center;
} */

.skill-box {
  background-color: black;
  border-radius: 0.5rem; /* 8px */
  transition: transform 0.27s ease-in-out, box-shadow 0.27s ease-in-out;
  /* width: 100%;  */
  height: 0;
  padding-bottom: 100%; /* Membuat kotak tetap persegi dengan rasio 1:1 */
  position: relative; 
}

.skill-inner {
  display: flex;
  flex-direction: column; /* Atur elemen dalam kolom (gambar di atas teks) */
  align-items: center; 
  justify-content: center; 
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  position: absolute; /* Posisi gambar dan teks secara absolute di dalam kotak */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.skill-inner h2 {
  margin-top: 10px;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
}

.skill-inner img {
  width: 4.5rem; /* Lebar gambar */
  height: auto;
}

.skill-img {
  display: flex;
  background-color: #1c1c1c;
  border-radius: 999px;
  width: 10vw;
  height: 10vw;
  align-items: center; /* Pusatkan gambar secara horizontal */
  justify-content: center; /* Pusatkan konten secara vertikal */
}

.skill-box:hover {
  transform: scale(1.045);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
}

/* @media screen and (max-width: 768px) {
  
} */
.project {
  background-color: #2C2C2E;
}

.project-container {
  text-align: center;
  justify-contemt: center;
}

.project-box:hover {
  transform: scale(1.035);
  /* box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); */
}

.webosisbutton {
  background-color: #260f2e;
  padding: 5px;
  margin-top: 2px;
  border-radius: 10px;
}


.project-box {
  background-color: #312e42;
  color: #f0f0f0;
  transition: transform 0.27s ease-in-out, box-shadow 0.27s ease-in-out;
}

.project-box img {
  border-radius: 10px;
}

.contact-icon-inner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-contact-redirect {
  
}

/* .form-contact-container {
  margin-left: -20px;
  margin-right: -20px;
}
 */
.contact-form-input {
  background-color: #28272b;
  border-radius: 5px;
  font-size: 20px;
}

.submit-button-form-contact {
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
}

.submit-button-form-contact:hover {
  background-color: #28272b;
}

.footer {
  background-color: black;
  padding-top: 1px;
  padding-bottom: 25px;
}

.footer-container {
  
} 


@media screen and (min-width: 770px) {
  .autoshow-animation {
    animation: autoshow-scroll both;
    animation-timeline: view(75% 10%);
  }

  @keyframes autoshow-scroll {
    from {
      opacity: 0;
      transform: translateY(200px) scale(0.3);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}


@media screen and (max-width: 768px) {
  body {
    padding-top: 2rem;
  }

  .phone-none {
    display: none;
  }
  
  .pfp-image {
    width: 15rem
  }

  .profile h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  .profile p {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
  
  /* .skill-col {
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
  } */

  .skill-box {
    height: auto;
    width: 30vw;
    gap: 4rem;
    /* width: 130px;  */
    /* padding-bottom: 95%;  */
  }

  .skill-inner h2 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  .skill-img {
    width: 14vw;
    height: 14vw;
  }
  
  .skill-inner img {
    width: 6vw;
  }
  .contact-icon-inner {
    transform: scale(0.8);
  }
}