RewriteEngine On

# Menyiapkan default index file sebagai index.html atau index.php jika tersedia
DirectoryIndex index.html index.php

# Menyembunyikan nama file index.html atau index.php di URL
RewriteCond %{THE_REQUEST} /([^.]+)/(index\.html|index\.php) [NC]
RewriteRule ^ %1/ [R=301,L]

# Jika file PHP tanpa ekstensi dipanggil, tambahkan .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
